/* ...............MAIN CONTAINER CSS........................ */

.main_container {
  height: 80vh;
}
.title {
  height: 3rem;
  margin-top: 2rem;
}
.title p {
  margin-left: 10rem;
  padding-top: 0.5rem;
  width: max-content;
}
/* ...............Product Container related css........................ */
.cart_products_container {
  margin-left: 10rem;
  height: 23rem;
  width: 20rem;
  margin-top: 2rem;
  overflow: hidden;
  overflow-y: auto;
  border-bottom: 2px solid rgb(129, 124, 124);
}
.cart_products_container::-webkit-scrollbar {
  display: none;
}
/* ...............TOTAL AMOUNT RELATED CSS........................ */
.total_amount {
  margin-left: 10rem;
  height: 2rem;
  width: 20rem;
  text-align: center;
  margin-top: 0.5rem;
}

/* ...............Media queries(Small Device)........................ */
@media screen and (max-width: 600px) {
  .cart_products_container {
    margin: auto;
    width: 90%;
    height: 28rem;
  }
  .total_amount {
    margin: auto;
    margin-top: 1rem;
  }
}
